@import '../variables';

.comments-container{
  margin-top: $p-2;

  .infos{
    display: flex;
    
    // .prof-img{
    //   margin-right: $p-2;
    //   width: 38px;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   img{
    //     width: 100%;
    //     border-radius: 50%;
    //     border: 2px solid $mid-color;
    //   }
    //}
    
    .image-container{
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      .prof-img {
        position: relative;
        width: 100%; /* The size you want */
      }
      .prof-img:after {
        content: "";
        display: block;
        padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
      }
      
      .prof-img img {
        position: absolute; /* Take your picture out of the flow */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; /* Make the picture taking the size of it's parent */
        width: 100%; /* This if for the object-fit */
        height: 100%; /* This if for the object-fit */
        object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
        object-position: center;
        z-index: 0;
        
        border-radius: 50%;
        border: 2px solid $mid-color;
      }   
    }
    
    
    .author-info{
      display: flex;
      justify-content: center;
      align-items: center;
      
      margin-left: $p-2;
      width: 100%;
      .info{
        flex: 1;

        p{
          font-size: 12px;
        }
      }

      .inputs{
        padding: 0;

        button{
          padding: 0;
          img{
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}