@import '../variables';

.searchbar{
  background-color: $white-color;
  width: 100%;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  padding: $p-2;
  z-index: 1;
}